.idea
.settings
logs
target
.classpath
.project
soap-ws-client/.settings
soap-ws-client/target
soap-ws-client/.classpath
soap-ws-client/.project
soap-ws-server/.settings
soap-ws-server/target
soap-ws-server/.classpath
soap-ws-server/.project
